@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes click {
  from {
    scale: 100%;
  }
  to {
    scale: 80%;
  }
}

button:active {
  animation-name: click;
  animation-duration: 50ms;
  transition: ease-in-out;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
